script.
    $('#paymentModeModal').modal('show')

#paymentModeModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content.w-50.mx-auto
            .modal-header
                h1#exampleModalLabel.modal-title.fs-5 पेमेंट
                button.btn.btn-close(type='button' data-dismiss='modal' aria-label='Close') X
            .modal-body
                form#payCheckoutForm 
                    .row.g-3.pay-details-div 
                        .col-5
                            label(for='pay-amount') Amount (Rs)
                            input.form-control(id='pay-amount' type='number' readonly) 
                        .col-7    
                            label(for='pay-malmatta-no') Malmatta No 
                            input.form-control(id='pay-malmatta-no' type='text' readonly)
                        .col-12 
                            label(for='pay-person-name') Name
                            input.form-control(id='pay-person-name' type='text' readonly)

                    .row.justify-content-center.g-2.print-certificate-div.d-none
                        .col-5
                            button.w-100.text-center.m-2.btn.btn-primary.print-payment-recipt-btn(type='button') पावती प्रिंट
                        .col-5
                            button#btnPrintEightNoImage.w-100.text-center.m-2.btn.btn-success.d-none(type='button')
                                span.fa.fa-floppy-o &nbsp; नमुना ८ (No Image)
                        .col-5
                            button#btnPrintEightQr.w-100.text-center.m-2.btn.btn-success.d-none(type='button')
                                span.fa.fa-floppy-o &nbsp; नमुना ८ ( QR )
                        .col-5
                            button#btnPrintEightQrImage.w-100.text-center.m-2.btn.btn-success.d-none(type='button')
                                span.fa.fa-floppy-o &nbsp; नमुना ८ (QR & Image)

                    button.btn.btn-primary.print-certificate-button.d-none(type='button') प्रिंट प्रमाणपत्र

                    .d-flex.gap-2.mt-3.payment-mode-buttons-div
                        button.btn.btn-secondary.button-offline-pay.mr-3(type='button') Offline
                        button.btn.btn-primary.button-online-pay(type='button') Online
