doctype html
html
  head
    title Gram Seva | Digital Grampanchayet
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/new-gp-page/css/main.min.css")
    link(rel="stylesheet", href="/new-gp-page/css/g-seva-main-page.min.css")
    link(rel="stylesheet", href="/asstest/plugins/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css")
    link(rel="stylesheet", href="/asstest/plugins/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css")
    link(rel="stylesheet", href="/asstest/lightbox/dist/css/lightbox.css")
  
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js")
    script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
    script(src="/asstest/lightbox/dist/js/lightbox.js")
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/coustom/js/common.js')
    style.
      .error{
        color:red !important;
      }
      .bg-tiranga {
        background-image: url("./new-gp-page/main-page/images/header-images/swachh-bharat-abhiyan.jpg");
        background-size: cover;
      }
      .bg-tiranga-1{
        background-image: url("./new-gp-page/main-page/images/header-images/swachh-bharat-mission.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
      }

      .lightbox {
        margin: 0 auto !important;
      } 
  body
    div(style="width:100vw;height:100vh") 
      img.img-f(style="width:100%;height:100%" src="/new-gp-page/main-page/images/header-images/main-banner.jpg", )
      a(href="/make-start" style="position:absolute;top:25vh;right:10vh").btn.btn-success सुरु करा
    script(src='/gp/asstes/plugins/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/asstest/plugins/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/owl.carousel.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js')


