doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        // common css
        link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
        link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
        link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
        link(rel='stylesheet' href='/asstest/coustom/css/main.css')
        link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/popper/popper.min.js')
        script(src='/asstest/plugins/date/jquery-ui.js')
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/plugins/notify/notify.js')
        script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
        script(src="/asstest/plugins/jquery_validation/additional-methods.js")

        // Bootstrap 5 CSS & JS
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        // common js setups
        script(src='/asstest/coustom/js/base.converter.js')
        script(src='/asstest/coustom/js/common.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

        link(href='/asstest/coustom/css/namuna/namuna-1/expenditure/other-expenditures/namuna-1-other-expenditures-page.css' rel='stylesheet')
        link(href='/asstest/coustom/css/namuna/common-new-form.css' rel='stylesheet')
        script(src='/asstest/coustom/js/handlers/namuna/namuna-1/expenditure/other-expenditures/namuna-1-other-expenditures-create-entry-page-handler.js' type='module' defer)


        title नमुना १ - इतर खर्च (नोंदणी)

    body
        include ../../../../include/navs.pug

        .container
            h2.heading-1.mt-2.mb-1 नमुना १ - इतर खर्च (नोंदणी)
            div
                .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
                    a.btn.btn-primary(href='/namuna/1/expenditure/other-expenditures') यादी
            form(id='namuna-1-other-expenditures-form').mt-1
                //- h4.bg-danger(style="text-align:center; font-weight:bold; display:block; border-bottom:4px solid #dc3545; padding-bottom:5px;") नमुना १८ नोंदणी


                .form.form-1
                    //- h4.text-center.fw-bold.bg-danger नमुना १८ नोंदणी

                    h4(style="text-align:center; font-weight:bold; color:white; background-color:#003366; padding:8px 18px; display:block; margin:10px auto;") नमुना १ - इतर खर्च

                    .row.justify-content-center.justify-content-md-between.gx-4.gy-2.p-4

                        - let currentYear = new Date().getFullYear()
                        - let startYear = currentYear - 25
                        .col-11.col-md-6.col-lg-3

                            .form-group
                                label.form-label(for="year") वर्ष
                                select.form-select(id="year" name="fromYear" required)
                                    option(value='') --वर्षापासून--
                                    each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i).reverse()
                                        option(value=year) #{year}

                        .col-11.col-md-6.col-lg-3

                            .form-group
                                label.form-label(for="year") वर्ष
                                select.form-select(id="year" name="year" required)
                                    option(value='') --वर्षापर्यंत--
                                    //- - let currentYear = new Date().getFullYear()
                                    //- - let startYear = currentYear - 25
                                    each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i).reverse()
                                        option(value=(year + 1)) #{year + 1}

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="monthly_resolution") मासिक ठराव क्र.
                                input.form-control(type="text" id="monthly_resolution" name="monthly_resolution" required placeholder=" ")

                        //- Doubtness
                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="monthly_resolution_date") मासिक ठराव दिनांक
                                input.form-control.datepicker(type="text" id="monthly_resolution_date" name="monthly_resolution_date" required placeholder=" ")

                        .col-11.col-md-12.col-lg-6
                            .form-group
                                label.form-label(for="backward_class_15_percent_expenditure") मागासवर्गीय खर्च १५ % टक्के खर्च
                                input.form-control(type="number" id="backward_class_15_percent_expenditure" name="backward_class_15_percent_expenditure" required placeholder="")

                        .col-11.col-md-12.col-lg-6
                            .form-group
                                label.form-label(for="women_and_child_welfare_10_percent_expenditure") महिला व बाल कल्याण १० टक्के खर्च
                                input.form-control(type="number" id="women_and_child_welfare_10_percent_expenditure" name="women_and_child_welfare_10_percent_expenditure" required placeholder="")

                        //- 
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="disabled_people_3_percent_expenditure") अपंग कल्याण करिता खर्च ३ % टक्के खर्च
                                input.form-control(type="number" id="disabled_people_3_percent_expenditure" name="disabled_people_3_percent_expenditure" required placeholder="")

                        .col-11.col-md-12.col-lg-6
                            .form-group
                                label.form-label(for="district_rural_development_fund_contribution_025_percent") ०.२५ टक्के जिल्हा ग्रामविकास निधी वर्गणी
                                input.form-control(type="number" id="district_rural_development_fund_contribution_025_percent" name="district_rural_development_fund_contribution_025_percent" placeholder="")


                        .col-11.col-md-12.col-lg-6.d-none
                            .form-group
                                label.form-label(for="remarks") शेरा
                                input.form-control(id="remarks" name="remarks" placeholder="शेरा")

                    .d-flex.gap-4.justify-content-center
                        button.btn.btn-primary(type='button' id="submit-namuna-1-other-expenditures-entry-btn") Save
                        button.btn.btn-secondary(type='reset' id='reset') Reset
