//- style. 
    //- .font {
    //-     font-size: 1.2rem;
    //- }
    //- .red {
    //-     color: red;
    //- }
    //- .buttons{
    //-     margin-top: 5px;
    //-     margin-bottom: 4px;
    //-     display: inline-block;
    //-     border: 1px solid red;
    //-     border-radius: 15px;
    //-     padding: 8px;
    //-     background-color: #DC3545;
    //-     color: white;
    //- }

//- .row.pt-2.m-0.p-0
//-     div.col-4.col-md-2.text-center.m-0.p-0
//-         a.buttons(href='/') 
//-             i.fa.fa-home.font
//-             span.ml-2 होम 
//-     div.col-4.col-md-8
//-     div.col-4.col-md-2.text-center.m-0.p-0
//-         a.buttons(href='/logout') 
//-             i.fa.fa-power-off.font  
//-             span.ml-2 बाहेर पडा