doctype html
head
  title नळ connection notice - blank
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // common css
  link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')

  style.
    @page { 
      size: A4 portrait;
      margin: 5mm 5mm 5mm 5mm;
      -webkit-print-color-adjust: exact; 
    }
    .m-bottom {
      //- margin: 5mm 5mm 5mm 5mm !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

body
  .row.m-bottom
    img(src="/print/7.jpg" width="90%" height="90%")
