doctype html
head
  title नमुना ९ पाणी blank print
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // common css
  link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')

  style.
    @page { 
      size: landscape;
      margin: 5mm 5mm 5mm 5mm;
      -webkit-print-color-adjust: exact; 
    }
    .m-bottom {
      margin: 5mm 5mm 5mm 5mm !important;
    }

    .abs{
      position: absolute;
      z-index: 100;
    }

body
  .row.m-bottom.relative
    img(src="/print/3.jpg" width="100%" height="100%")
    .abs(style='z-index:100; top: 1.0rem; font-weight:bold; font-size: 1.8rem; color: red; left: 48.5rem;') #{gp.gp_name}
