.env
ecosystem.config.js
node_modules

# this is for mac
.DS_Store

public/upload/divyanga-certificates/
public/upload/divyanga-user-photos/
public/self_declaration/
public/meter_upload/
public/upload/
public/home_nakasha_image/
public/home_map_image/home_photo/
public/home_map_image/map_photo/
public/gp/asstes/images/gallery/
public/gp/asstes/images/smeti/
public/gp/asstes/images/team/
public/uploads/
public/new-gp-page/main-page/files/
public/new-gp-page/main-page/images/user-pic
public/new-gp-page/main-page/files/village-guide
public/new-gp-page/main-page/files/zoom-meeting-guide
public/new-gp-page/main-page/images/dukan
public/new-gp-page/main-page/images/smeti
public/new-gp-page/main-page/images/arogya
public/new-gp-page/main-page/images/news
public/new-gp-page/main-page/images/yojana

public/print/sp.jpeg

public/print/gs.jpeg
