//- =======================================================
//- MASTER LAYOUT
//- =======================================================
extends ../include/internal-gp-master-layout.pug

block custom_js
    script(src='/asstest/coustom/js/handlers/dev-works/dev-works-form-handler.js')

block content
    -
        const menuItems = [
            { href: '/adarsh-takta', icon: 'fa-table', title: 'आदर्श तक्ता' },
            { href: '/gram-sadasya', icon: 'fa-users', title: 'ग्राम सदस्य' },
            { href: '/upload-gr', icon: 'fa-upload', title: 'GR Upload' },
            { href: '/gram-adhik-info', icon: 'fa-info-circle', title: 'ग्राम अधिक माहिती' },
            { href: '/medical-room', icon: 'fa-medkit', title: 'वैद्यकीय कक्ष' },
            { href: '/upload-krishi-vidnyan-view', icon: 'fa-leaf', title: 'कृषी विज्ञान' },
            { href: '/education/get-add-education-details', icon: 'fa-graduation-cap', title: 'शिक्षण' },
            { href: '/arogya/gp-arogya-seva-kendra-list-view', icon: 'fa-heartbeat', title: 'आरोग्य सेवा केंद्र' },
            { href: '/village/upload-gov-yojna', icon: 'fa-university', title: 'शासकीय योजना अपलोड' },
            { href: '/village/zoom-meetings-view', icon: 'fa-video-camera', title: 'Zoom Meetings' },
            { href: '/village/get-add-job-related-view', icon: 'fa-briefcase', title: 'नोकरी विषयक' },
            { href: '/village/get-add-gram-ahaval-documents-view', icon: 'fa-bar-chart', title: 'ग्राम अहवाल व माहिती' },
            { href: '/village/gram-manager', icon: 'fa-map-marker', title: 'गावाविषयी' },
            { href: '/awards', icon: 'fa-trophy', title: 'प्राप्त पुरस्कार' },
            { href: '/wg-initiatives', icon: 'fa-handshake-o', title: 'बचतगटाचे कामे/उपक्रम' },
            { href: '/wg-names', icon: 'fa-list-ul', title: 'बचतगटांची नावे' },
            { href: '/women-empowerment', icon: 'fa-female', title: 'महिला सक्षमीकरण' },
            { href: '/zp-school-points', icon: 'fa-building', title: 'जिल्हा प. शाळा' },
            { href: '/asha-workers', icon: 'fa-user-md', title: 'आशा सेविका' },
            { href: '/water-conservation', icon: 'fa-tint', title: 'जल संधारण' },
            { href: '/committees', icon: 'fa-sitemap', title: 'समिती यादी' },
            { href: '/innovative-initiatives', icon: 'fa-lightbulb-o', title: 'नावीन्य उपक्रम' },
            { href: '/aanganwadi', icon: 'fa-child', title: 'आंगणवाडी' },
            { href: '/dev-works', icon: 'fa-building', title: 'चालू पूर्ण विकास कामे' },
            { href: '/qr-codes/qr-list', icon: 'fa-qrcode', title: 'QR Code' }
        ]

    .container
        .mt-5
            .row.justify-content-center
                each item in menuItems
                    a.col-4.col-md-2(href=item.href style='text-decoration:none;')
                        .p-2.box.box--white
                            .commonModalFrom.w-100.d-flex.justify-content-center.align-items-center
                                p.box__title.d-flex.justify-content-center.align-items-center(style='gap: 0.2rem;')
                                    i(class=`fa ${item.icon} fa-2x`)
                                    small= item.title
