doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    //- common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")

    //- Bootstrap 5 CSS & JS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    //- common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

    link(href='/asstest/coustom/css/namuna/namuna-3/namuna-3-form.css' rel='stylesheet')
    script(src='/asstest/coustom/js/handlers/namuna/namuna-3/patrak-j/patrak-j-cleanliness/namuna-3-patrak-j-cleanliness-page-form-handler.js' type='module' defer)

    title प्रपत्र जे चालू (स्वच्छता व आरोग्य)

    style.
      .heading-1 {
        font-weight: bold !important;
        font-size: 1.4rem;
        text-align: center;
        color: #bb2525;
        border-radius: 15px;
        border: 2px solid #bb2525;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 0 auto 1.4rem;
        width: fit-content;
      }

      label.error {
        color: red;
        font-size: 0.9rem;
      }

  body
    include ../../../../include/navs.pug
    .container
      h2.heading-1.mt-2.mb-1 नमुना ३: ग्राम पंचायत जमा व खर्च तक्ता (वार्षिक अहवाल)
      div
        .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
          a.btn.btn-primary(href='/namuna/3') नमुना ३

      form(id='patrak-j-cleanliness-form').mt-1
        .form.form-1
          h4(style="text-align:center; font-weight:bold; color:white; background-color:#2E8B57; padding:8px 18px; display:block; margin:10px auto;") नमुना ३ प्रपत्र जे चालू (स्वच्छता व आरोग्य)

          .row.justify-content-center.justify-content-md-between.gx-4.gy-2.px-3
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="year") वर्ष
                input.form-control(type='text' name="year" id="year" placeholder="Enter Year" value=year readonly)

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="gram_panchayat_name") ग्रामपंचायतीने वा गटग्रामपंचायतीचे नाव
                input.form-control(type="text" name="gram_panchayat_name" id="gram_panchayat_name" placeholder="Enter Gram Panchayat Name")

            //- विहिरीची संख्या (Wells)
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_wells_at_year_start") वर्षारंभी अस्तित्वात असलेली विहिरी
                input.form-control(type='text' step="any" name="existing_wells_at_year_start" id="existing_wells_at_year_start" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="wells_constructed_in_year") वर्षात बांधलेल्या नव्या विहिरी
                input.form-control(type='text' step="any" name="wells_constructed_in_year" id="wells_constructed_in_year" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="wells_repaired_in_year") वर्षात दुरुस्त केलेल्या विहिरी
                input.form-control(type='text' step="any" name="wells_repaired_in_year" id="wells_repaired_in_year" placeholder=" ")

            //- For Section 2
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_at_start_year_2") वर्षारंभी अस्तित्वात असलेले
                input.form-control(type='text' step="any" name="existing_at_start_year_2" id="existing_at_start_year_2" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="newly_constructed_in_year_2") वर्षात बांधलेल्या नव्या
                input.form-control(type='text' step="any" name="newly_constructed_in_year_2" id="newly_constructed_in_year_2" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="repaired_in_year_2") वर्षात दुरुस्त केलेल्या
                input.form-control(type='text' step="any" name="repaired_in_year_2" id="repaired_in_year_2" placeholder=" ")

            //- For Section 3
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_at_start_year_3") वर्षारंभी अस्तित्वात असलेले
                input.form-control(type='text' step="any" name="existing_at_start_year_3" id="existing_at_start_year_3" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="mentioned_in_year_3") वर्षात तरतूद केलेली
                input.form-control(type='text' step="any" name="mentioned_in_year_3" id="mentioned_in_year_3" placeholder=" ")

            //- सार्वजनिक संडासांची संख्या (Public Toilets)
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_public_toilets_at_year_start") वर्षारंभी अस्तित्वात असलेले सार्वजनिक संडास
                input.form-control(type='text' step="any" name="existing_public_toilets_at_year_start" id="existing_public_toilets_at_year_start" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="public_toilets_constructed_in_year") वर्षात बांधलेले सार्वजनिक संडास
                input.form-control(type='text' step="any" name="public_toilets_constructed_in_year" id="public_toilets_constructed_in_year" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="public_toilets_repaired_in_year") वर्षात दुरुस्त केलेले सार्वजनिक संडास
                input.form-control(type='text' step="any" name="public_toilets_repaired_in_year" id="public_toilets_repaired_in_year" placeholder=" ")

            //- For Maternity Homes
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_maternity_homes_at_year_start") वर्षारंभी अस्तित्वात असलेली प्रसूती गृह
                input.form-control(type='text' step="any" name="existing_maternity_homes_at_year_start" id="existing_maternity_homes_at_year_start" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="allocated_beds_in_year") वर्षात तरतूद केलेल्या खाटा
                input.form-control(type='text' step="any" name="allocated_beds_in_year" id="allocated_beds_in_year" placeholder=" ")

            //- For Child Welfare Centers
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_child_welfare_centers_at_year_start") वर्षारंभी अस्तित्वात असलेली बाल कल्याण केंद्रे
                input.form-control(type='text' step="any" name="existing_child_welfare_centers_at_year_start" id="existing_child_welfare_centers_at_year_start" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="new_centers_allocated_in_year") वर्षामध्ये तरतूद केलेली नवी केंद्र
                input.form-control(type='text' step="any" name="new_centers_allocated_in_year" id="new_centers_allocated_in_year" placeholder=" ")

            //- For Hospitals and Medical Facilities
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="existing_hospitals_at_year_start") वर्षारंभी अस्तित्वात असलेले दवाखाने
                input.form-control(type='text' step="any" name="existing_hospitals_at_year_start" id="existing_hospitals_at_year_start" placeholder=" ")

            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="new_hospitals_allocated_in_year") वर्षात तरतूद केलेले नवीन दवाखाने
                input.form-control(type='text' step="any" name="new_hospitals_allocated_in_year" id="new_hospitals_allocated_in_year" placeholder=" ")

            //- For Other Works
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="other_works_done_in_year") वर्षात केलेली व इतर कोणतीही कामे
                input.form-control(type="text" name="other_works_done_in_year" id="other_works_done_in_year" placeholder=" ")

          //- Submit Button
          .text-center
            button.btn.btn-primary.mt-4(type="submit" id='save-patrak-j-cleanliness-btn') Save
