/* .heading-1 {
    font-weight: bold !important;
    font-size: 1.4rem;
    text-align: center;
    color: #bb2525;
    border-radius: 15px;
    border: 2px solid #bb2525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0 auto 1.4rem;
    width: fit-content;
}
label.error {
    color: red;
    font-size: 0.9rem;
}

 */
