


.my-print


    div 
        h4.text-center नमुना ३ चालू
        h5.text-center (नियम २६ (१) पहा)
        h6.text-center पंचायतीचे भत्ते व दयित्वे


    div 
        h4.text-center ग्रामपंचायत #{gp.gp_name} पंचायत समिती #{gp.gp_taluka} जिल्हा #{gp.gp_dist}
    


    table.w-full
        thead 
            tr 
                th(width='5%') अ.क्र. (१)
                th(width='') दयित्वे (२)
                th(width='') रक्कम (३)
                th(width='5%') अ. क्र. (४)
                th(width='') भत्ता (५)
                th(width='10%') रक्कम (६)


        tbody 

            tr 
                td(style='text-align: left;') (१)
                td(style='text-align: left;')
                    div (१) ग्रामपंचायतीकडून देय असलेल्या थकीत रकमा थकीत देयके
                    div(style='display: flex; flex-direction: column; gap: 0.4rem;')
                        div (क) वेतन
                        div (ख) वेतनाव्यतिरिक्त इतर आस्थापना
                        div (ग) साधनसामुग्री
                        div (घ) बांधकाम
                        div (ड) इतर
                td 
                td(style='text-align: left;') (१)
                td(style='text-align: left;') ग्रामपंचायतीला येणे असलेल्या
                td

            tr 
                td(style='text-align: left;') 
                td(style='text-align: left;') 
                td 
                td(style='text-align: left;') (२)
                td(style='text-align: left;') रकमा
                td

            tr 
                td(style='text-align: left;') 
                td(style='text-align: left;') 
                td 
                td(style='text-align: left;') (३)
                td(style='text-align: left;')
                    div(style='display: flex; flex-direction: column; gap: 0.4rem;')
                        div कर
                        div करेतर
                        div शासनाकडून
                        div (क) नुकसानभरपाई अनुदान
                        div (ख) सहायक अनुदान
                   
                td



            //- ----------------------------------------------------------
            //- ----------------------------------------------------------
            //- ----------------------------------------------------------


            
            tr 
                td(style='text-align: left;') 
                td(style='text-align: left;') 
                td(style='text-align:right').bold एकूण (१) (क) ते (ड)
                td(style='text-align: left;') 
                td(style='text-align: left;').bold एकूण ३ (क) + (ख)
                td

            //- ----------------------------------------------------------
            //- ----------------------------------------------------------
            //- ----------------------------------------------------------


            
            tr 
                td(style='text-align: right;') (२) 

                td(style='text-align: left;') कर्ज, हप्ता व कर्जावरील व्याज हप्ता
                td(style='text-align:right')
                td(style='text-align: right;') (४)
                td(style='text-align: left;') इतर जमा रकमा
                td

            tr 
                td(style='text-align: right;') (३) 
                td(style='text-align: left;') इतर देय रकमा
                td(style='text-align:right')
                td(style='text-align: right;') (५)
                td(style='text-align: left;') अग्रिम वसुली बाकी
                td

            tr 
                td(style='text-align: right;') (४) 
                td(style='text-align: left;') ठेवी परतावा बाकी
                td(style='text-align:right')
                td(style='text-align: right;')  (६)
                td(style='text-align: left;') पंचायतीची स्थावर मालमत्ता
                td


            tr 
                td(style='text-align: right;') (५) 
                td(style='text-align: left;') समाज कल्याण अनुशेष
                td(style='text-align:right')
                td(style='text-align: right;') (७)
                td(style='text-align: left;')  रस्ता मालमत्ता
                td



            tr 
                td(style='text-align: right;') (६)
                td(style='text-align: left;')  महिला व बालकल्याण अनुशेष
                td(style='text-align:right')
                td(style='text-align: right;') (८)
                td(style='text-align: left;') मजमिनीची मालमत्ता
                td


            tr 
                td(style='text-align: right;') (७) 
                td(style='text-align: left;') इतर अनुशेष
                td(style='text-align:right')
                td(style='text-align: right;') (९)
                td(style='text-align: left;') पाणी पुरवठा योजना व मालमत्ता (यादी तपशिलाशी जोडावी)
                td


            tr 
                td(style='text-align: right;')
                td(style='text-align: left;')
                td(style='text-align:right').bold एकूण (१) + (७)
                td(style='text-align: right;') 
                td(style='text-align: left;').bold एकूण १ ते ९
                td


            //- ------------------------------------------------------
            //- ------------------------------------------------------
            //- ------------------------------------------------------
            //- ------------------------------------------------------

            tr 
                td(style='text-align: right;') -
                td(style='text-align: left;')
                td(style='text-align:right')
                td(style='text-align: right;') 
                td(style='text-align: left;')
                td