


.my-print


    div 
        h4.text-center नमुना ३ चालू

    table.w-full
    
      thead(style="text-align: left;")
        tr
          th(width='40%') (१)
          th(width='10%') (२)
          th(width='40%') (३)
          th(width='10%') (४)

      tbody
        //- ---------------------------------------------------
        tr 
          td(style="text-align: left;").bold (एक) (अ + ब)
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;").bold एक (क) अभिहस्तांकित रकमा
          td(style="text-align: right;")
          td(style="text-align: right;")
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (१) मुद्रांक शुल्क
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (२) उपकर
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (३) जमीन महसूल
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (४) जमीन समानी करण
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (५) गौण खनिजे
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (६) पथ दिवाबत्ती देयकाचा भरणा करण्यासाठी अनुदान
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (७) नळ पाणीपुरवठ्यातील देयकासाठी ५०% अनुदान
          td(style="text-align: right;")
          td(style="text-align: left;") 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (८) मागास व आदिवासी क्षेत्रासाठी सहाय्य
          td(style="text-align: right;")
          td(style="text-align: left;")
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (९) यात्राकराऐवजी अनुदाने
          td(style="text-align: right;")
          td(style="text-align: left;")
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (१०) जकात नुकसान भरपाई अनुदाने
          td(style="text-align: right;")
          td(style="text-align: left;")
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (११) इतर अनुदाने
          td(style="text-align: right;")
          td(style="text-align: right;")
          td(style="text-align: right;")



        //- ----------------------------------------------------------
        //- ----------------------------------------------------------
        //- ----------------------------------------------------------


        tr 
          td(style="text-align: right;").bold एकूण (एक) क
          td(style="text-align: center;")
          td(style="text-align: right;") 
          td(style="text-align: right;")

        tr 
          td(style="text-align: right;").bold एकूण (एक) (अ + ब + क)
          td(style="text-align: center;")
          td(style="text-align: right;") 
          td(style="text-align: right;")

        //- ----------------------------------------------------------
        tr 
          td(style="text-align: left;").bold (दोन) (अ) राज्य शासन सहायक अनुदाने जमा 
          td(style="text-align: center;")
          td(style="text-align: left;").bold (दोन) राज्य शासन सहायक अनुदाने खर्च 
          td(style="text-align: right;")

        tr 
          td(style="text-align: left;") (१) शौचालय
          td(style="text-align: right;")
          td(style="text-align: left;") (१) शौचालय
          td(style="text-align: right;")

        tr 
          td(style="text-align: left;") (२) दलित वस्ती सुधार
          td(style="text-align: right;")
          td(style="text-align: left;") (२) दलित वस्ती सुधार
          td(style="text-align: right;")

        tr 
          td(style="text-align: left;") (३) पाणीपुरवठा / टी.सी.एल.
          td(style="text-align: right;")
          td(style="text-align: left;") (३) पाणीपुरवठा / टी.सी.एल.
          td(style="text-align: right;")


        tr
          td(style="text-align: left;") (४) बांधकाम जनसुविधा
          td(style="text-align: right;")
          td(style="text-align: left;") (४) बांधकाम जनसुविधा
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (५) शिक्षण शाळा
          td(style="text-align: right;")
          td(style="text-align: left;") (५) शिक्षण शाळा
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (६) मानधन, किमान वेतन व बैठक भत्ता
          td(style="text-align: right;")
          td(style="text-align: left;") (६) मानधन, किमान वेतन व बैठक भत्ता
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (७) आरोग्य
          td(style="text-align: right;")
          td(style="text-align: left;") (७) आरोग्य
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (८) इतर
          td(style="text-align: right;")
          td(style="text-align: left;") (८) इतर
          td(style="text-align: right;")

        //- -----------------------------------------------------------
        //- -----------------------------------------------------------
        //- -----------------------------------------------------------

        tr
          td(style="text-align: right;").bold एकूण (दोन) (अ)
          td(style="text-align: right;")
          td(style="text-align: right;")
          td(style="text-align: right;")

        
        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------



        tr
          td(style="text-align: left;").bold (दोन) (ब) आमदार, खासदार, डोंगरी विकास कार्याक्रमातर्गत जि. गा. वि. यंत्रणेकडून आलेला निधी ई.
          td(style="text-align: right;")
          td(style="text-align: left;")
          td(style="text-align: right;")

        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------


        tr
          td(style="text-align: right;").bold एकूण (दोन) (अ + ब)
          td(style="text-align: right;")
          td(style="text-align: right;").bold एकूण (दोन) शासकीय अनुदाने
          td(style="text-align: right;")


        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------
        //- --------------------------------------------------------
        
        tr
          td(style="text-align: left;").bold (तीन) केंद्र शासन अनुदाने जमा
          td(style="text-align: right;")
          td(style="text-align: left;").bold (तीन) केंद्र शासन अनुदाने खर्च
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (१) स्वर्णजयंती ग्राम स्वरोजगार योजना
          td(style="text-align: right;")
          td(style="text-align: left;") (१) स्वर्णजयंती ग्राम स्वरोजगार योजना
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (२) जवाहर ग्राम समृध्दी योजना
          td(style="text-align: right;")
          td(style="text-align: left;") (२) जवाहर ग्राम समृध्दी योजना
          td(style="text-align: right;")
        tr
          td(style="text-align: left;") (३) इतर
          td(style="text-align: right;")
          td(style="text-align: left;") (३) इतर
          td(style="text-align: right;")
        
        //- --------------------------------------------------
        //- --------------------------------------------------
        //- --------------------------------------------------


        tr
          td(style="text-align: right;").bold एकूण (तीन)
          td(style="text-align: right;")
          td(style="text-align: left;").bold एकूण (तीन)
          td(style="text-align: right;")