


.my-print


    div 
        h4.text-center नमुना ३ समाप्त

    table.w-full
    
      thead(style="text-align: left;")
        tr
          th(width='40%') (१)
          th(width='10%') (२)
          th(width='40%') (३)
          th(width='10%') (४)

      tbody
        //- ---------------------------------------------------
        tr 
          td(style="text-align: left;").bold (चार) संकीर्ण जमा
          td(style="text-align: right;")
          td(style="text-align: left;").bold (चार) संकीर्ण जमा 
          td(style="text-align: right;")    
        tr 
          td(style="text-align: left;") (१) अनामत / प्रतिभुती
          td(style="text-align: right;")
          td(style="text-align: left;") (१) अगीम अनामत / प्रतिभुती
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (२) ठेवी
          td(style="text-align: right;")
          td(style="text-align: left;") (२) ठेवी
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (३) कर्ज
          td(style="text-align: right;")
          td(style="text-align: left;") (३) कर्ज हप्ता व व्याज प्रदाने
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (४) इतर
          td(style="text-align: right;")
          td(style="text-align: left;") (४) इतर
          td(style="text-align: right;")


        //- ---------------------------------------------
        //- ---------------------------------------------
        tr 
          td(style="text-align: right;").bold एकूण (चार)
          td(style="text-align: right;")
          td(style="text-align: right;").bold एकूण (चार)
          td(style="text-align: right;")

        //- ---------------------------------------------
        //- ---------------------------------------------

        tr 
          td(style="text-align: left;").bold  (पाच) प्रारंभीची शिल्लक 
          td(style="text-align: right;")
          td(style="text-align: left;").bold (पाच) संकीर्ण जमा
          td(style="text-align: right;")

        tr 
          td(style="text-align: left;") (१) अनामत / प्रतिभुती
          td(style="text-align: right;")
          td(style="text-align: left;") (१) अनामत 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (२) ठेवी
          td(style="text-align: right;")
          td(style="text-align: left;") (२) ठेवी
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (३) कर्ज
          td(style="text-align: right;")
          td(style="text-align: left;") (३) कर्ज
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (४) इतर
          td(style="text-align: right;")
          td(style="text-align: left;") (४) इतर
          td(style="text-align: right;")

        //-   -----------------------------------------------------------
        //-   -----------------------------------------------------------
        //-   -----------------------------------------------------------
        //-   -----------------------------------------------------------

        tr 
          td(style="text-align: right;").bold एकूण (पाच)
          td(style="text-align: right;")
          td(style="text-align: right;").bold एकूण (पाच) 
          td(style="text-align: right;")


        //- --------------------------------------------------------------
        //- -------------------------------------------------------------
        //- ----------------------------------------------------------------
        tr 
          td(style="text-align: left;").bold (सहा) प्रारंभीची शिल्लक
          td(style="text-align: right;")
          td(style="text-align: left;").bold (सहा) अखेरची शिल्लक
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (१) जवाहर ग्राम समृध्दी योजना
          td(style="text-align: right;")
          td(style="text-align: left;") (१) जवाहर ग्राम समृध्दी योजना
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (२) ग्राम पाणीपुरवठा निधी खाते
          td(style="text-align: right;")
          td(style="text-align: left;") (२) पंचायत निधी खाते 
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (३) ग्राम पंचायत निधी खाते
          td(style="text-align: right;")
          td(style="text-align: left;") (३) ग्राम पाणीपुरवठा निधी
          td(style="text-align: right;")
        tr 
          td(style="text-align: left;") (४) इतर
          td(style="text-align: right;")
          td(style="text-align: right;") (४) इतर
          td(style="text-align: right;")



        //- ----------------------------------------------------------
        //- ----------------------------------------------------------
        //- ----------------------------------------------------------


        tr 
          td(style="text-align: right;").bold एकूण (सहा)
          td(style="text-align: center;")
          td(style="text-align: right;").bold एकूण (सहा)
          td(style="text-align: right;")

        tr 
          td(style="text-align: right;").bold एकूण (एक) + (दोन) + (तीन) + (चार) + (पाच) + (सहा)
          td(style="text-align: center;") 
          td(style="text-align: right;").bold एकूण (एक) + (दोन) + (तीन) + (चार) + (पाच) + (सहा)
          td(style="text-align: right;")




        //- ----------------------------------------------------------
        //- ----------------------------------------------------------
        //- ----------------------------------------------------------

        tr 
            td -
            td 
            td 
            td 

        tr 
            td -
            td 
            td 
            td    