extends ../include/internal-gp-master-layout.pug 


block content 

block custom_css 
    style.
        a {
            text-decoration: none !important;
            color: inherit;
        }


block content

    -
        const certificates = [
            { href: 'https://dc.crsorgi.gov.in/crs/home', icon: 'fa fa-heartbeat', label: 'जन्म / मृत्यू नोंदणी', target:"_blank" },
            { href: '/marriage/list', icon: 'fa fa-heart', label: 'विवाह नोंदणी', target:"_blank" },
            { href: '/certificate', icon: 'fa fa-file-text-o', label: 'ग्रा.प थकबाकी/निराधार प्रमाणपत्र', target:"_blank"},

            { href: '/application', icon: 'fa-file-text-o', label: 'ग्रा.प.१ ते ७ दाखले सेवा मागणी अर्ज' },
            { href: '/death-certificate', icon: 'fa-user-times', label: 'मृत्यू प्रमाणपत्र' },
            { href: '/birth-certificate', icon: 'fa-child', label: 'जन्म प्रमाणपत्र' },
            { href: '/unavailability-certificate', icon: 'fa-file-o', label: 'अनुपलब्धता प्रमाणपत्र' },
            { href: '/bpl-certificate/list', icon: 'fa-id-card-o', label: 'दारिद्र्य रेषेखालील (BPL) प्रमाणपत्र' },

            { href: '/print/blankCertificate', icon: 'fa-print', label: 'Blank प्रमाणपत्र' },
            { href: '/gram-list-setting', icon: 'fa-cogs', label: 'ग्राम दस्तावेज' },

            { href: '/form-9/yadi', icon: 'fa-file', label: 'यादी व प्रमाणपत्र' },
            
            { href: '/exports/eight-form', icon: 'fa-list-alt', label: 'नमुना ८ यादी' },
            { href: '/update-database-table/update-form-8-data-view', icon: 'fa-database', label: 'Update form 8 database' },
            { href: '/exports/nine-form', icon: 'fa-list-alt', label: 'नमुना ९ यादी' },
        ];

    .container
        .mt-5
            .row.justify-content-center

                each cert in certificates
                    .col-4.col-md-2
                        .p-2.box.box--white
                            a.commonModalFrom(href=cert.href class="w-100 d-flex justify-content-center align-items-center" target=(cert.target || '_self'))
                                p.box__title.d-flex.justify-content-center.align-items-center(style='gap: 0.2rem;')
                                    i.fa(class=`${cert.icon} fa-2x`)
                                    small #{cert.label}