extends ../include/internal-gp-master-layout.pug 

block content
    section(class='container mt-4')

        -
            let links = 
                [

                    {
                        href :'/payment/list/samanya',
                        linkName: 'सामान्य कर',
                    },

                    {
                        href :'/payment/list/pani',
                        linkName: 'पाणी कर',
                    }
                ]

        div

            .container

                div(class='py-4 text-center text')
                    h5.heading-1 Online कर भरणा तपासणी

                div(class='row')

                    each link in links
                        div(class='col-6 col-md-3 col-lg-2')
                            a(href=link.href class='box box--white d-flex align-items-center justify-content-center' style='text-decoration:none;') 
                                span #{link.linkName} 
                                //- span(style='font-size:0.85rem;') (#{namunaLinkItem.bracketName})       