doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        //- common css
        link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
        link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
        link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
        link(rel='stylesheet' href='/asstest/coustom/css/main.css')
        link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')

        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/popper/popper.min.js')
        script(src='/asstest/plugins/date/jquery-ui.js')
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/plugins/notify/notify.js')
        script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
        script(src="/asstest/plugins/jquery_validation/additional-methods.js")

        //- Bootstrap 5 CSS & JS
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        //- common js setups
        script(src='/asstest/coustom/js/base.converter.js')
        script(src='/asstest/coustom/js/common.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

        link(href='/asstest/coustom/css/namuna/namuna-3/namuna-3-form.css' rel='stylesheet')
        script(src='/asstest/coustom/js/handlers/namuna/namuna-3/prapatra-g/namuna-3-prapatra-g-page-form-handler.js' type='module' defer)

        title प्रपत्र ग 

        style.
            .heading-1 {
                font-weight: bold !important;
                font-size: 1.4rem;
                text-align: center;
                color: #bb2525;
                border-radius: 15px;
                border: 2px solid #bb2525;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                margin: 0 auto 1.4rem;
                width: fit-content;
            }

            label.error {
                color: red;
                font-size: 0.9rem;
            }

            th, td {
                border: 1px solid #ccc;
                padding: 10px;
            }

    body
        include ../../../include/navs.pug
        .container
            h2.heading-1.mt-2.mb-1 नमुना ३: ग्राम पंचायत जमा व खर्च तक्ता (वार्षिक अहवाल)
            div
                .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
                    a.btn.btn-primary(href='/namuna/3') नमुना ३

            form(id='prapatra-g-form').mt-1
                .form.form-1
                    h4(style="text-align:center; font-weight:bold; color:white; background-color:#8B2E38; padding:8px 18px; display:block; margin:10px auto;") नमुना ३ प्रपत्र ग

                    .row.justify-content-center.justify-content-md-between.gx-4.gy-.px-3

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="year") वर्ष
                                input.form-control(type='text' name="year" id="year" placeholder="Enter Year" value=year readonly)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="tax_name") कराचे नाव
                                input.form-control(type="text" name="tax_name" id="tax_name" placeholder="")


                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="year_start_balance") वर्षाच्या आरंभी येणे असलेली बाकी
                                input.form-control(type='text' step="any" name="year_start_balance" id="year_start_balance" placeholder=" ")

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="requested_for_year") वर्षासाठी केलेली मागणी
                                input.form-control(type='text' step="any" name="requested_for_year" id="requested_for_year" placeholder=" ")

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="amount_to_be_collected") वसूल करावयाची रक्कम
                                input.form-control(type='text' step="any" name="amount_to_be_collected" id="amount_to_be_collected" placeholder=" ")

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="amount_collected") वसूल केलेली रक्कम
                                input.form-control(type='text' step="any" name="amount_collected" id="amount_collected" placeholder=" ")

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="concession_amount") सूट म्हणून दिलेली रक्कम
                                input.form-control(type='text' step="any" name="concession_amount" id="concession_amount" placeholder=" ")


                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="outstanding_previous_year_end") वर्षाच्या अखेरीस मागील थकबाकी
                                input.form-control(type='text' step="any" name="outstanding_previous_year_end" id="outstanding_previous_year_end" placeholder=" ")


                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="outstanding_current_year_end") वर्षाच्या अखेरीस चालू अखेरीस थकबाकी
                                input.form-control(type='text' step="any" name="outstanding_current_year_end" id="outstanding_current_year_end" placeholder=" ")



                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="total_at_year_end") वर्षाच्या अखेरीस एकूण
                                input.form-control(type='text' step="any" name="total_at_year_end" id="total_at_year_end" placeholder=" ")


                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="cash_collection_ratio") वसुलीचे रोकडा प्रमाण
                                input.form-control(type='text' step="any" name="cash_collection_ratio" id="cash_collection_ratio" placeholder=" ")



                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="collection_work_remark") वसुलीच्या कामासंबधीचा शेरा
                                input.form-control(type='text' step="" name="collection_work_remark" id="collection_work_remark" placeholder=" ")


                    //- Submit Button
                    div 
                        div.d-flex.align-items-center.justify-content-center.gap-2
                            button.btn.btn-secondary.mt-4(type="submit" id='add-row-btn') Add row
                            button.btn.btn-secondary.mt-4(type='submit' id='update-row-btn') Update Row
                            button.btn.btn-primary.mt-4(type="submit" id='save-prapatra-g-btn') Save Form


            .table-responsive.mb-5 
                table
                    
                    thead#prapatra-g-table-heading
                        tr
                            th(rowspan='2' colspan='1') अनु.क्र
                            th(rowspan='2' colspan='1') कराचे नाव
                            th(rowspan='2' colspan='1') वर्षाच्या आरंभी येणे असलेली बाकी


                            th(rowspan='2' colspan='1') वर्षासाठी केलेली मागणी
                            th(rowspan='2' colspan='1') वसूल करावयाची मागणी
                            th(rowspan='2' colspan='1') वसूल केलेली रक्कम
                            th(rowspan='2' colspan='1') सूट म्हणून दिलेली रक्कम

                            th(rowspan='1' colspan='3') वर्षाच्या अखेरीस असलेली थकबाकी
                            //- th
                            //- th 

                            th(rowspan='2' colspan='1') वसुलीचे रोकडा प्रमाण
                            th(rowspan='2' colspan='1') वसुलीच्या कामासंबधीचा शेरा
                            th(rowspan='2') Action


                        tr
                            //- th(rowspan='2' colspan='1')
                            //- th
                            //- th
                            //- th

                            //- th
                            //- th
                            //- th
                            th(rowspan='1' colspan='1') मागील थकबाकी
                            th(rowspan='1' colspan='1') चालू अखेरीस थकबाकी
                            th(rowspan='1' colspan='1') एकूण

                            //- th
                            //- th

                    tbody#prapatra-g-table-body